{% extends "landing/base.html" %}
{% load static %}
{% block title %}عن القسم{% endblock title %}
{% block content %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center text-end">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="{% static 'img/hero-6.jpg' %}" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6">عن القسم</h1>
                    <p class="fs-4">
                        صمم برنامج الصوتيات واللغويات القضائية ليتسق مع رسالة جامعة الاسكندرية فى تشجيع الدراسات البينية
                        التى تسهم فى مجالات
                        مهمة فى المجتمع، إذ يهدف البرنامج إلى تخريج طلاب قادرين على استخدام اللغة فى تحليل البيانات
                        الوصفية فى مجموعة واسعة من
                        سياقات الخطاب القانونى المكتوبة والمنطوقة</p>
                    <p class="fs-4">
                        ومن خلال هذا البرنامج سيصبح بوسع الخريجين استخدام
                        الادوات والتقنيات الحديثة
                        فى التعرف على المجرمين من خلال أصواتهم سمعيا وتحليليا. وهذه القدرات تؤهلهم للعمل كخبراء أو
                        استشاريين لغويين - من ناحية
                        اللغة والصوت - فى المحاكم وفى الأمور القضائية
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row align-items-center text-end fs-4" data-wow-delay="0.5s">
            <h3>رؤية البرنامج</h3>
            <p>
                من منطلق أهمية الدراسات البينية فى الاتجاهات المختلفة للعلوم والتكنولوجيا، وهى الدراسات التى أثبتت
                نجاحات كبيرة فى الدول
                الأوروبية، تقوم الدراسة فى هذا البرنامج على التعاون بين علمين على درجة كبيرة من الأهمية و
                يسهمان - فى حالة التنسيق بينهما - إسهاما إيجابيا فى خدمة المجتمع، وهما دراسة اللغة والقانون. وبما أن
                اللغة
                هى
                وسيلة للتعبير عن الصياغة الملائمة لكل الأمور المهمة، فمن الأجدر أن تخدم اللغة الخطاب القانوني مكتوبا و
                منطوقا

            </p>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row align-items-center text-end fs-4" data-wow-delay="0.5s">
            <h3>أهداف البرنامج</h3>
            <p>
                :يسعى البرنامج إلى تأهيل الكوادر المتميزة في
            <ul dir="rtl">
                <li>كيفية استخدام اللغة فى كل ما يتعلق بالناحية القانونية ونظم العدالة الجنائية وكيفية التعامل مع النظام
                    القانونى، حيث يتم اتخاذ القرارات الهامة من خلال اللغة</li>
                <li>
                    تطبيق مهارات تحليل البيانات الوصفية فى مجموعة واسعة من سياقات الخطاب القانونى المنطوق والمكتوب
                </li>
                <li>
                    كيفية اكتساب الخبرة في تحليل مادة الخطاب القانونى المكتوب والمنطوق
                </li>
                <li>
                    كيفية التعرف على المجرمين من خلال أصواتهم سمعيا وتحليليا
                </li>
                <li>
                    التدريب على اكتشاف الكذب والخداع فى كلام المجرمين فى المادة المنطوقة والمكتوبة
                </li>
                <li>
                    التدريب على كيفية نقد إجراءات التحقيق من الناحية اللغوية
                </li>
            </ul>
            </p>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row align-items-center text-end fs-4" data-wow-delay="0.5s">
            <h3>
                :يتوقع أن يصبح خريج برنامج الصوتيات واللغويات القضائية</h3>
            <p>
            <ul dir="rtl">
                <li>
                    ملما بالدور اللغوي عند التعامل مع النظم القانونية والتشريعية
                </li>
                <li>
                    مستوعبا لعمل الخبراء الاستشاريين اللغويين فى اللغة والقانون
                </li>
                <li>
                    قادرا على استخدام الأدوات والتقنيات الحديثة فى التعرف على المجرمين من خلال أصواتهم سماعيا وتحليليا
                </li>
                <li>
                    قادرا على ممارسة ما استفاده في كشف الكذب والخداع فى كلام المجرمين والشهود والضحية لغويا وصوتيا
                </li>
                <li>
                    قادرا على تحليل البيانات الوصفية فى مجموعة واسعة من سياقات الخطاب القانوني المكتوبة والمنطوقة.
                </li>
                <li>
                    قادرا على عمل التحليل النقدي باستخدام اللغة فى السياقات القانونية
                </li>
            </ul>
            </p>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row align-items-center text-end fs-4" data-wow-delay="0.5s">
            <h3>
                أماكن مقترحة لمجالات العمل</h3>
            <p>
            <ul dir="rtl">
                <li>
                    یمكن أن يتاح للخریجین في المستقبل العمل في
                    وزارة العدل وفي جھات التحقیق المدنية والعسكرية والشرطية وكذلك في السفارات والمحاكم
                </li>
                <li>
                    كما یعمل المتخصصون و الخریجون فى
                    المحاكم و السفارات و غیرھا من الجھات
                    القانونیة لتقدیم ترجمات معتمدة
                </li>
            </ul>
            </p>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row align-items-center text-end fs-4" data-wow-delay="0.5s">
            <h3>
                تم مخاطبة الجهات الحكومية المعنية بتخصص الطالب ومنها على سبيل المثال لا الحصر لفتح فرص عمل للخريجين
            </h3>
            <p>
            <ul dir="rtl">
                <li>
                    وزارة العدل​
                </li>
                <li>
                    وزارة الداخلية​
                </li>
                <li>
                    مديرية الأمن​
                </li>
                <li>
                    الكلية الحربية (كظباط متخصصين)
                </li>
                <li>
                    أكاديمية الشرطة (كظباط متخصصين)
                </li>
                <li>
                    القوات المسلحة (كضباط متخصصين)
                </li>
                <li>
                    المركز القومي للدراسات القضائية​
                </li>
                <li>
                    المركز القومي للبحوث الاجتماعية والجنائية
                </li>
                <li>
                    مركزالطب الشرعي (التابع لوزارة العدل)
                </li>
                <li>
                    مبنى الإذاعة والتلفزيون​
                </li>
            </ul>
            </p>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row align-items-center text-end" data-wow-delay="1s">
            <h3 class="mb-2">اللجنة العلمية للبرنامج</h3>
            <div class="list-group">
                {% for t in team %}
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="w-100 justify-content-between">
                        <h5 class="mb-1 fs-3 text-end">{{t.name}}</h5>
                    </div>
                    <p class="mb-1 fs-5">{{t.biography|safe}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}