{% extends "landing/base.html" %}
{% block title %}كيفية التقدم{% endblock title %}
{% block content %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row align-items-center text-end" data-wow-delay="1s">
            <h3 class="mb-3">شروط القبول ببرنامج الصوتيات واللغويات القضائية للعام الجامعى 2024/2023</h3>
            <ol dir="rtl" class="fs-3">
                <li class="mb-4">
                    يقبل البرنامج أعلى 60 طالب من المتقدمين طبقًا للمجموع الإعتبارى = للمجموع الكلى الثانوية العامة+
                    مجموع اللغات الثلاثة
                </li>
                <li class="mb-4">
                    اجتياز الامتحان الالكتروني بحد ادنى %70% لتقييم الطالب لُغويًا (لغة عربية / لغة انجليزية)
                </li>
                <li class="mb-4">
                    اجتياز الطالب المقابلة الشخصية
                </li>
            </ol>
            <p class="fs-2">
                للمزيد من المعلومات يرجى زيارة
                <a href="https://facebook.com/fphlalex" target="_blank">الصفحة الرسمية للبرنامج</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}