{% extends "landing/base.html" %}

{% block title %}فعاليات{% endblock title %}

{% block content %}
<div class="container-xxl">
    <div class="container">
        <div class="row align-items-center text-end">
            <img class="img-fluid mx-auto mb-3 w-75" src="{{event.img.url}}" />
            <h3>{{event.name}}</h3>
            <p class="fs-4">
                {{event.description|safe}}
                <br>
                <a class="btn btn-primary mx-auto w-50" href="{{event.link}}" target="_blank">المزيد عن الفعالية</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}