{% extends "landing/base.html" %}
{% load static %}
{% block title %}الصفحة الرئيسية{% endblock title %}
{% block content %}
<div class="container-fluid hero-header bg-light py-5 mb-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 mb-3 animated slideInDown">برنامج الصوتيات واللغويات القضائية</h1>
                <p class="animated slideInDown">حيث تلتقي علوم الصوتيات، اللغويات، القانون، والفيزياء</p>
                <a href="{% url 'about' %}" class="btn btn-primary py-3 px-4 animated slideInDown">تعرف على المزيد</a>
            </div>
            <div class="col-lg-6 animated fadeIn">
                <img class="img-fluid animated pulse infinite" style="animation-duration: 5s;"
                    src="{% static 'img/hero-5.png' %}" alt="">
            </div>
        </div>
    </div>
</div>

{% if event.show %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center text-end">
            {% if event.img %}
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="{{event.img.url}}" alt="">
            </div>
            {% endif %}
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6">{{event.name}}</h1>
                    <p class="fs-4 text-wrap text-break">
                        {{event.description|truncatechars:200}}
                    </p>
                    <a class="btn btn-primary py-3 px-4" href="{{event.link}}">المزيد عن المحاضرة</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center text-end">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="{% static 'img/hero-6.jpg' %}" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6">عن القسم</h1>
                    <p class="fs-4">
                        صمم برنامج الصوتيات واللغويات القضائية ليتسق مع رسالة جامعة الاسكندرية فى تشجيع الدراسات البينية
                        التى تسهم فى مجالات
                        مهمة فى المجتمع، إذ يهدف البرنامج إلى تخريج طلاب قادرين على استخدام اللغة فى تحليل البيانات
                        الوصفية فى مجموعة واسعة من
                        سياقات الخطاب القانونى المكتوبة والمنطوقة</p>
                    <p class="fs-4">
                        ومن خلال هذا البرنامج سيصبح بوسع الخريجين استخدام
                        الادوات والتقنيات الحديثة
                        فى التعرف على المجرمين من خلال أصواتهم سمعيا وتحليليا. وهذه القدرات تؤهلهم للعمل كخبراء أو
                        استشاريين لغويين - من ناحية
                        اللغة والصوت - فى المحاكم وفى الأمور القضائية
                    </p>
                    <a class="btn btn-primary py-3 px-4" href="{% url 'about' %}">المزيد عن القسم</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl bg-light py-5 my-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="text-center  wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-4" data-toggle="counter-up">91</h1>
                <p class="fs-5 text-primary mb-0">خريجين من القسم</p>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl bg-light py-5 my-5">
    <div class="container py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">المواد الدراسية</h1>
        </div>
        <div class="row g-4">
            {% for i in sub %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-white p-5">
                    <h5 class="mb-3">{{i.name}}</h5>
                    <p>{{i.description|safe}}</p>
                </div>
            </div>
            {% endfor %}
            <a href="{% url 'study' %}#subjects" class="btn btn-primary">تعرف على باقي المواد</a>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">رحلة البرنامج</h1>
        </div>
        <div class="owl-carousel roadmap-carousel wow fadeInUp" data-wow-delay="0.1s">
            {% for i in road %}
            <div class="roadmap-item">
                <div class="roadmap-point"><span></span></div>
                <h5>{{i.pub_date|date:"SHORT_DATE_FORMAT"}}</h5>
                <span>{{i.text}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- <div class="container-xxl bg-light py-5 my-5">
            <div class="container py-5">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-6">Token Sale</h1>
                    <p class="text-primary fs-5 mb-5">Token Sale Countdown</p>
                </div>
                <div class="row g-3">
                    <div class="col-6 col-md-3 wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-white text-center p-3">
                            <h1 class="mb-0">0</h1>
                            <span class="text-primary fs-5">Days</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 wow fadeIn" data-wow-delay="0.3s">
                        <div class="bg-white text-center p-3">
                            <h1 class="mb-0">0</h1>
                            <span class="text-primary fs-5">Hours</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 wow fadeIn" data-wow-delay="0.5s">
                        <div class="bg-white text-center p-3">
                            <h1 class="mb-0">0</h1>
                            <span class="text-primary fs-5">Minutes</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 wow fadeIn" data-wow-delay="0.7s">
                        <div class="bg-white text-center p-3">
                            <h1 class="mb-0">0</h1>
                            <span class="text-primary fs-5">Seconds</span>
                        </div>
                    </div>
                    <div class="col-12 text-center py-4">
                        <a class="btn btn-primary py-3 px-4" href="">Buy Token</a>
                    </div>
                    <div class="col-12 text-center">
                        <img class="img-fluid m-1" src="img/payment-1.png" alt="" style="width: 50px;">
                        <img class="img-fluid m-1" src="img/payment-2.png" alt="" style="width: 50px;">
                        <img class="img-fluid m-1" src="img/payment-3.png" alt="" style="width: 50px;">
                        <img class="img-fluid m-1" src="img/payment-4.png" alt="" style="width: 50px;">
                    </div>
                </div>
            </div>
        </div> -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">الأسئلة الشائعة</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="accordion" id="accordionExample">
                    {% for q in faq %}
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.1s">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                {{q.q}}
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {{q.a|safe}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}