{% extends "landing/base.html" %}
{% block title %}{{r.name}}{% endblock title %}

{% block content %}
<div class="container-xxl">
    <div class="container">
        <div class="row align-items-center text-end">
            <img class="img-fluid mx-auto mb-3" src="{{r.image.url}}" />
            <h3>{{r.name}}</h3>
            <p class="fs-4">
                {{r.description|safe}}
                <br>
                <a class="btn btn-primary mx-auto w-50" href="{{r.file.url}}" target="_blank">تحميل البحث</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}